version: "3.9"

services:
  backend:
    build: ./backend
    image: specisaac/company-assistant-backend:latest
    env_file: ./backend/.env
    ports:
      - "8000:8000"
    volumes:
      - chroma_data:/app/chromadb_multi_tenant
      - ./data:/app/data
    restart: unless-stopped
    networks:
      - app_net

  frontend:
    build: ./frontend
    image: specisaac/company-assistant-frontend:latest
    networks:
      - app_net
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: frontend-nginx
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend
      - frontend
    volumes:
      - /srv/company-assistant/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    networks:
      - app_net
    restart: unless-stopped

volumes:
  chroma_data:

networks:
  app_net:
    driver: bridge
