version: "3.9"

services:
  backend:
    image: specisaac/company-assistant-backend:latest
    container_name: backend

    env_file:
      - ./backend/.env
    volumes:
      - chroma_data:/app/chromadb_multi_tenant
      - ./data:/app/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/docs"]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      app_net:
        aliases:
          - backend

  nginx:
     image: nginx:latest
     container_name: frontend_nginx
     ports:
       - "80:80"
       - "443:443"

     volumes:
        # SSL certs from host
        - /etc/letsencrypt:/etc/letsencrypt:ro

        # Nginx config
        - /srv/company-assistant/frontend/nginx.conf:/etc/nginx/conf.d/default.conf:ro

        # Frontend build
        - /srv/company-assistant/frontend/dist:/usr/share/nginx/html:ro
    
     depends_on:
       - backend

     restart: unless-stopped
     networks:
       - app_net

volumes:
  chroma_data:

networks:
  app_net:
    driver: bridge
