version: "3.9"

services:
  backend:
    
    image: ${DOCKERHUB_USERNAME}/company-assistant-backend:latest
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    volumes:
      - chroma_data:/app/chromadb_multi_tenant
      - ./data:/app/data
    restart: unless-stopped
    healthcheck:
        test: ["CMD", "curl", "-f", "http://localhost:8000/docs"]  # Use /docs not /health
        interval: 30s
        timeout: 10s
        retries: 3 
    networks:
      app_net:
         aliases:
            - backend

  nginx:
    image: nginx:alpine
    container_name: frontend-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      # SSL certificates
      # MOUNT whole letsencrypt tree (fix symlinks)
      - /etc/letsencrypt:/etc/letsencrypt:ro

      # - /etc/letsencrypt/live/askmi.duckdns.org:/etc/letsencrypt/live/askmi.duckdns.org:ro
      # - /etc/letsencrypt/archive/askmi.duckdns.org:/etc/letsencrypt/archive/askmi.duckdns.org:ro

      # Nginx config
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf:ro

      # Static frontend build files
      - ./frontend/dist:/usr/share/nginx/html:ro
    restart: unless-stopped
    depends_on:
      - backend
    networks:
      - app_net

volumes:
  chroma_data:

networks:
  app_net:
    driver: bridge
