services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile.dev
    ports:
      - "8000:8000"  # For direct API access during dev
    env_file:
      - ./backend/.env  # 

    environment:
      - WATCHFILES_FORCE_POLLING=true  # File watcher for Docker
    command: >  # Override CMD for dev
      uvicorn app.main:app 
      --host 0.0.0.0 
      --port 8000 
      --reload 
      --reload-dir /app 
      --reload-dir /app/Vector_setup 
      --reload-dir /app/LLM_Config  
   
    volumes:
      - chroma_data:/app/chromadb_multi_tenant
      - ./data:/app/data
    restart: unless-stopped
    networks:
      - app_net

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "80:80"    # HTTP only for local
    volumes:
      # Use HTTP-only nginx.conf for local dev
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf:ro  
    # depends_on:
    #   - backend
    restart: unless-stopped
    networks:
      - app_net

volumes:
  chroma_data:

networks:
  app_net:
    driver: bridge
