name: Deploy to DigitalOcean Droplet

on:
  push:
    branches: [ main ] #deploy when main is updated

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/Checkout@v4

      - name: Deploy over SSH
        uses: appleboy/ssh-action@v1.2.1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT || 22 }}
          script: |
            cd /srv/company-assistant
            docker compose -f docker-compose-production.yml pull
            docker compose -f docker-compose-production.yml up -d --remove-orphans


                   
